#titlu  {

width: 100px;
font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;



}


#tit{
color: rgb(8, 8, 8);
display: flex;
grid-template-columns: 100px 100px;
flex-direction: row;
       font-family: 'Playfair Display', serif;
margin-bottom: 150px;


}


#logo{
   margin-top: 80px;
 position: absolute;
  top: 25%; 
  bottom: 10%;
  left: 50%; 
  
  width: 650px;
  height: auto;

  
   
  transform: translate(-50%, -50%); 
  display: flex; 

 text-align: center;
 background-color: transparent;


  
}

@media (max-width: 768px) {
    #logo {
        max-width: 200px; 
    }
}

@media (max-width: 480px) {
    #logo {
        max-width: 200px; 
    }
}


 #lista {
  font-size: 20px;
  font-weight: normal;
}


#btn{
  position: absolute; 
   left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex; 
  gap: 10px;
 text-align: center;
 background-color: transparent;
margin-top: 430px;
margin-bottom: 220px;





}

#btn1, #btn2, #btn3, #btn4 {
    font-family:'Shadows Into Light' ,cursive;
    background-color: transparent;
    font-size: 1.6vw;
    margin: 0.2%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 8px;
     
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 0px 25px;
    text-decoration: none;


}



#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover{
 opacity: 0.8;
 background-color: rgb(206, 157, 23);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#btn1:active , #btn2:active ,  #btn3:active ,#btn4:active{
opacity: 0.5;
}

  #pah{
   position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}



.top-bar {
            position:fixed; 
            top: 0;
            left: 0;
            height: 40px;
            width: 100%; 
            background: rgba(0, 0, 0, 0.6); 
            color: white; 
            padding: 123px 20px;
            display: flex;
            justify-content: space-between; 
            align-items: center;
            z-index: 100; 
}


#btnIstorie {
  position: fixed; 
  bottom: 20px;  
  left: 20px;    
  
  padding: 12px 20px;
  
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s;
}



#stema {

font-size: 2vw;
    margin: 0.2%;

margin-top: 130%;
margin-left: 70%;

 font-family:'Shadows Into Light' ,cursive;
    background-color: transparent;
    
    
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 8px;
    transition: box-shadow 0.15s, color 1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:relative;
    

}

#stema:hover{
 opacity: 0.8;
 background-color: rgb(206, 157, 23);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#stema:active{
opacity: 0.5;
}

#Istoria {
width: 125px;


}


.dropdown {

    position: relative;
    display: inline-block;
    
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(180, 175, 152, 0.897);
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}






.Ani {
    display: block;  
    margin: 0 auto;  
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.text{

display: block;
  text-align: justify;
 text-justify: inter-word;
 font-size: 18px; 
    font-style: italic; 
    line-height: 1.6; 
    color: #272727; 
flex: 1;
border-radius: 50px;
}


@media (max-width: 768px) {
    

    .text {
        font-size: 4vw; 
    }

    .Ani {
        width: 80%; 
    }
}









.hidden {
  display: none;
}

.modal {

  position: absolute;
  top: 46%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(216, 216, 203);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;  
border-radius: 4%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}



.show-modal {
font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 0;                 
  border: none;
  background-color: #cccca2;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  
  position: fixed;          
  bottom: 20px;              
  left: 5%;                
  transform: translateX(-50%); 
}




.show-modal:hover {
    background-color: #968a48;
}





.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}


